<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau project</title>
</head>
<body>
    <% if (typeof status == 'undefined') { %>
    <form action="/start-import/" method="get">
        <button type="submit">Start Import</button>
    </form>
    <% } else { %>
    <h1><%= status %></h1>
    <% } %>
</body>
</html>